    <div class="story-form-attachfield" style="display: none;" >
        <input type="file" name="<%= photo %>" style="visibility: hidden; position: absolute;">
        <input type="text" name="<%= title %>" placeholder="Заголовок фото ..." class="text-input" style="border:none;"></textarea>
        <div class="story-photo-footer">

            <img class="story-new-photo" src="http://img.lenta.ru/news/2012/05/17/deorfr/picture.jpg" style="max-width: 120px; max-height: 60px; float:left; margin-right: 10px; ">
            <span style="font: 12px Tahoma,Geneva,sans-serif;"> Можно закачать файлы не более 5Мб</span>
            <span style="position: absolute; right: 5px;"><a href="#deletePhoto">Удалить</a></span>

        </div>
    </div>